<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>链家用户登录页面</title>
</head>
<body>
<form method="post">
    手机号或者邮箱: <input type="text" placeholder="请输入用户名" id='username'><br>
    密码: <input type="password" placeholder="请输入密码" id='password'><br>
    <input type="submit" id="submit" value="提交">
</form>
</body>
</html>
<script type="text/javascript" src="../script/jquery.min.js"></script>
<script type="text/javascript">
    $('#submit').click(function (){
        var username=$('#username').val();
        var password=$("#password").val();
        $.ajax({
            type:"POST",
            url:"../router/LianJia_User.php",
            dataType:"JSON",
            data:{
                username:username,
                password:password,
                operate:1,
            },
            success:function(result){
                console.log(JSON.stringify(result));
                console.log(result.message);
                switch(result.code){
                    case 1:
                        alert(result.message);
                        window.location.href="./LianJia_HousingInfo.html";
                        break;
                    default:
                        alert(result.message);
                        window.location.reload();
                        break;
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                // 状态码
                console.log(XMLHttpRequest.status);
                // 状态
                console.log(XMLHttpRequest.readyState);
                // 错误信息
                console.log(textStatus);
            }

        })
    })
</script>