<html>
<head>
    <meta charset="utf-8">
    <title>链家用户注册页面</title>
</head>
<body>
<form action="" method="post">
    手机号或者邮箱: <input type="text" id="username" placeholder="请输入用户名"><br>
    密码: <input type="password" placeholder="请输入密码" id="password"><br>
    <input type="submit"  id="submit" value="提交">
</form>
</body>
</html>
<script type="text/javascript" src="../script/jquery.min.js"></script>
<script type="text/javascript">
    $('#submit').click(function () {
        var username = $('#username').val();
        var password = $("#password").val();
        $.ajax({
            type: 'POST',
            url: '../router/LianJia_User.php',
            dataType: 'JSON',
            data: {
                username: username,
                password: password,
                operate: "register",
            },
            success: function (result) {
                switch (result.code) {
                    case 1:
                        alert(result.message);
                        window.location.href = "./LianJia_Login.html";
                        break;
                    default:
                        alert(result.message);
                        window.location.reload();
                        break;
                }
            },
        })
    })
</script>
